    {% extends 'layout.html' %}


{% block content %}

<div class="row">
    <section class="section col-sm-12 col-lg-5">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>    
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formulario Aspersor</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal" method="POST" action="{% url 'list_sprinklers' %}">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Codigo Aspersor</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="codSprinkler" class="form-control" name="codSprinkler" value="{{form.value | default:''}}">
                                </div>
                                <div class="col-md-4">
                                    <label>Descripción</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
                                </div>
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <input type="submit" class="btn btn-primary me-1 mb-1" value="Guardar">
                                    <!-- <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row">
    <section class="section col">
        <div class="card">
            <div class="card-header">
                <h4>Lista de Aspersores</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sprinkler in sprinklers %}
                        <tr>
                            <td>{{sprinkler.id}}</td>
                            <td>{{sprinkler.codSprinkler}}</td>
                            <td>{{sprinkler.description}}</td>
                            <td>
                                {% if sprinkler.state == 1 %}
                                <span class="badge bg-success">Active</span>
                                {% else %}
                                <span class="badge bg-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td colspan="3">
                                <!-- <a class="btn btn-primary me-1 mb-1" role="button">Activar</a> -->
                                <a class="btn btn-success me-1 mb-1" role="button" href="{% url 'start_sprinkler' sprinkler.id %}">On</a>
                                <a class="btn btn-danger me-1 mb-1" role="button" href="{% url 'stop_sprinkler' sprinkler.id %}">Off</a>
                                <a class="btn btn-warning me-1 mb-1" href="{% url 'delete_sprinkler' sprinkler.id %}" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}